<a href="https://colab.research.google.com/github/budhathoki10/Concept_and_Technology_of_AI/blob/master/worksheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

Problem 1 - Data Read, Write and Inspect:
• Dataset for the Task: "bank.csv"

In [ ]:
#1. Load the provided dataset and import in pandas DataFrame.
df=pd.read_csv("/content/drive/MyDrive/bank.csv")

#2. Check info of the DataFrame and identify following:
# df.head()
# df.tail()
# df.info()

#a
print("Columns with dtype = object:")
object_cols = df.select_dtypes(include='object').columns
print(object_cols)
#b
for col in object_cols:
    print(f" \n unique in column {col}: ")
    print(df[col].unique())
#c
total_val= df.isnull().sum();
print(total_val)

#3
drop_column= df.drop(columns=object_cols)
drop_column.to_csv("banknumericdata.csv",index=True)
print("sucessfully written")


#4
new_csv= pd.read_csv("/content/banknumericdata.csv")
print(new_csv.describe())

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Problem 2 - Data Imputations:

In [ ]:
# Problem 2:
df1= pd.read_csv("/content/drive/MyDrive/medical_students_dataset.csv")
# df1.head()
# df1.tail()
# df1.info()
#1. Load the provided dataset and import in pandas DataFrame.
dataset=pd.DataFrame(df1)
# dataset.head()

#2. Check info of the DataFrame and identify column with missing (null) values.
dataset.info()
total_null= dataset.isnull().sum()
print(f"total null is \n {total_null}")

#3. For the column with missing values fill the values using various techniques we discussed above. Tryto explain why did you select the particular methods for particular column.
dataset.ffill(inplace=True)
#i used ffill becuase it is easier to use and it take the value of previous row

#4 4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.{Hint: dataset.duplicated.sum()}
total_duplicate= dataset.duplicated().sum()
print(f"total duplicates values is {total_duplicate}")
#to remove duplicates we have to drop it
#inplace= true make change in original dataset
dataset.drop_duplicates(inplace=True)

3.2 Exercises - Data Cleaning and Transformations with ”Titanic Dataset”:

In [ ]:
#problem 1:

ds= pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")
ds= pd.DataFrame(ds)
selected_columns = ds[["Name", "Pclass","Sex", "Age", "Fare","Survived"]]

# selected_columns.head()
p1= selected_columns[selected_columns["Pclass"]==1]
#it displays the columns having Pclass =1
pd.DataFrame(p1)
#prints the mean median and others of Fare columns only
p1.describe().Fare

 #or we can also do manually
mean_fare = p1["Fare"].mean()
median_fare = p1["Fare"].median()
mode_fare = p1["Fare"].mode()


print("Mean Fare ", mean_fare)
print("Median Fare:", median_fare)
print("Modee Fare:", mode_fare)

#Problem - 2:
Null_ages= selected_columns["Age"].isnull().sum()
print(f"there are {Null_ages} null values in age column")
# # # #dropping
#drops the row of age if it has null values
p1.dropna(subset=["Age"])

In [ ]:
#Problem - 3:
Embarked_cols= pd.get_dummies(ds["Embarked"], prefix="Embarked")
#Add these new columns to the original DataFrame.
ds= pd.concat([ds, Embarked_cols], axis=1)
ds.head(2)

#3. Drop the original ’Embarked’ column.
ds.drop(columns="Embarked")
#4. Print the first few rows of the modified DataFrame to verify the changes.
# ds.head(5)
# it is sucessfully modified

In [ ]:
#Problem - 4:

mean_survival_by_sex = ds.groupby('Sex')['Survived'].mean()
print(mean_survival_by_sex)
# visual representation is

plt.bar(mean_survival_by_sex.index, mean_survival_by_sex.values)
plt.title('Mean Survival Rate by Gender')
plt.ylabel('Mean Survival Rate')
plt.xlabel('Gender')

plt.show()

In [ ]:
#Problem - 5:

embarked_survival = ds.groupby("Embarked")["Survived"].mean()
print(embarked_survival)
plt.bar(embarked_survival.index, embarked_survival.values)

plt.xlabel("C, Q, S")
plt.ylabel("Survival Rate")
plt.title("Survival Rate by Port of Embarkation (C, Q, S)")
plt.show()